// COLOURS
$color-primary-light: #1c1024;
$color-primary-medium: #140c1c;
$color-primary-dark: #0f0717;

$color-secondary: #df3f7f;

$color-tertiary: #48bbdd;

$color-grey: #827c85;

$color-white: #fff;
$color-black: #000;

// FONT SIZE
$default-font-size: 1.6rem;
