// COLOURS
$color-primary-light: #c7cde3;
$color-primary-medium-1: #32343f;
$color-primary-medium-2: #202228;
$color-primary-dark: #141519;

$color-secondary: #4bffbd;

$color-white: #fff;
$color-black: #000;
$color-grey: #827c85;

// FONT SIZE
$default-font-size: 1.6rem;
