.btn {
  &,
  &:link,
  &:visited {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 0.8rem;
    background-color: $color-primary-medium-2;
    color: $color-primary-light;
    cursor: pointer;
  }

  &:hover,
  &:active {
    background-color: $color-white;
    color: $color-primary-medium-2;
  }
}

.btn--active {
  &,
  &:link,
  &:visited {
    background-color: $color-secondary;
    color: $color-primary-medium-2;
  }

  &:hover,
  &:active {
    background-color: $color-white;
  }
}
