*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: $color-white;
  padding: 10rem 15rem;
  background-color: $color-primary-medium-1;
}
