.section__profile {
  max-width: 110rem;
  margin: 0 auto;
  padding: 3rem 0;
  background-color: $color-primary-dark;
}

.section__history {
  max-width: 110rem;
  margin: 0 auto;
}

.section__timer {
  max-width: 110rem;
  margin: 0 auto;
}
